body{
	background-image: url('bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
#warning
{
	
	background-color: red;
	color: white;
	padding: 5px;
	margin: 2px;
	border-radius: 5px;
	display: none;
}
#warning1
{
	
	background-color: red;
	color: white;
	padding: 5px;
	margin: 2px;
	border-radius: 5px;
}
button
{
	border:none;
	outline: none;
	background:none;
	cursor: pointer;
	padding: 5px;
	width: 25px;
	color: white;
	background-color: #1A5276;
}
.container{
	max-width: 350px;
	width: 100%;
	background: #fff;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%; 
	padding: 15PX;
	box-shadow: 2px 2px 6px #000000;
	border-radius: 5px;

}
.container .title{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
	color: #1a5276;
	text-transform: uppercase;
	text-align: center;
}
.container .form{
	width: 100%;
} 
.input_field{
	margin-bottom: 17px;
	display: flex;
	align-items: center;
}
.input{
	width: 100%;
	outline: none;
	border: 1px solid #d5dbd9;
	font-size: 15px;
	padding: 8px 10px;
	border-radius:5px; 

}
.custom_selection{

	position: relative;
	width: 100%;
	height: 37px;
	margin-bottom: 17px;
}
select{
	outline: none;
	-webkit-appearance:none;
	appearance:none;
	width: 100%;
	height: 100%;
	padding: 3px 0px 3px 10px;
	border-radius: 5px;
	border: 1px solid #d5dbd9;
	outline: none;
	text-transform: uppercase;

}
.custom_selection:before{
	content: "";
	position: absolute;
	top: 16px;
	right: 12px;
	border:8px solid;
	border-color: gray transparent transparent transparent;
	pointer-events: none;

}
.btn{
	width: 100%;
	padding: 8px 10px;
	font-size: 15px;
	border:0;
	background: #1a5276;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	outline: none;
	margin-top: 10px;
}
.input_field:last-child{
	margin-bottom: 0;
}

.up{
	text-align: center;
	margin-top: 10px;
}
a{
	text-decoration: none;
	color:#1a5276;
}


.btn:hover{
	background: #5499c7;
}

@media (max-width: 420px){
	label{
		margin-bottom:5px; 
	}
	.container{
		max-width: 300px;
	}
	select{
		padding-right: 30px;
	}
}
